PUBLIC_SUPABASE_FUNCTION_URL=https://hgeccrqpcppjieotdtfz.supabase.co/functions/v1/leads
PUBLIC_SUPABASE_ANON_KEY=sb_publishable_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
SUPABASE_URL=https://hgeccrqpcppjieotdtfz.supabase.co
SUPABASE_KEY=sb_publishable_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx